/* .footer-bottom {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
} */

/* table */
table th,
table td {
  padding: 5px;
  font-size: 13px;
}


/* .event-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #1b6769;
} */

.align-left {
  align-self: left;
}


.datetime-break-line {
  max-width: 10ch !important;  /*10 characters width*/
  text-align: center;
}

#error-message {
  color: #B22B26;
}

input:focus-visible {
  border-color: #80BA69 !important;
  box-shadow: 0px 0px 0px 1px #80BA69 !important;
}


/* input::file-selector-button {
  background-color: #80BA69;
  color: #000000;
  border: 0;
  border-radius: 0.375rem;
  padding: 5px 10px;
  font-weight: 600;
} */
