.footer-bottom {
  margin-top: auto;
}

/* table */
table th,
table td {
  padding: 5px;
  font-size: 13px;
}

table th {
  text-align: center !important;
}

.action-group {
  text-align: center !important;
}

/* .event-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #1b6769;
} */

.align-left {
  align-self: left;
}

/* .datetime-break-line {
  max-width: 10ch !important;  
  text-align: center;
} */

#error-message {
  color: #b22b26;
}

/* input:focus-visible {
  border-color: #80ba69 !important;
  box-shadow: 0px 0px 0px 1px #80ba69 !important;
} */

/* input::file-selector-button {
  background-color: #80BA69;
  color: #000000;
  border: 0;
  border-radius: 0.375rem;
  padding: 5px 10px;
  font-weight: 600;
} */
