/* layout */
.layout {
  min-height:100vh; 
  display:flex; 
  flex-direction:column; 
  justify-content:space-between;
}


.footer-bottom {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

/* table */
table th,
table td {
  padding: 5px;
  font-size: 13px;
}



.event-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #1b6769;
}

.primary-button {
  background-color: #b7f39a !important;
  border-color: #b7f39a !important;
  color: #042101 !important;
}



.align-left {
  align-self: left;
}


.datetime-break-line {
  max-width: 10ch !important;  /*10 characters width*/
}


.bold-text {
  font-weight: bold;
}

.brother-color {
  color: #107BBF;
}

.sister-color {
  color: #B22B26;
}